// White works better on orange
.btn-primary {
  // Mixin defined at https://github.com/twbs/bootstrap/blob/v5.3.0/scss/mixins/_buttons.scss
  @include button-variant($primary, $primary, white);
}
.btn-outline-primary {
  // Mixin defined at https://github.com/twbs/bootstrap/blob/v5.3.0/scss/mixins/_buttons.scss
  @include button-outline-variant($primary, white, $active-color: white);
}

.w-0 {
  width: 0;
}

// Bootstrap expects default link color to be primary, but we have set it to be dark, so for dark backgrounds we need to override it again to light.
.bg-dark,
.text-bg-dark {
  a {
    --bs-link-color-rgb: var(--bs-light-color-rgb);
  }
}
