// Custom styling of SlickGrid markup
.slick-header {
  background-color: var(--bs-secondary-bg);
  font-weight: bold;
}

.slick-header-sortable {
  cursor: pointer;
}

.slick-viewport {
  font-family: var(--font-family-data);
}

.slick-row:hover {
  background-color: var(--bs-tertiary-bg);
}

.slick-cell,
.slick-header.ui-state-default,
.slick-header-column.ui-state-default {
  border-color: var(--bs-secondary-bg);
}

.slick-cell:has(input[type="checkbox"]),
[role="columnheader"]:has(input[type="checkbox"]) {
  text-align: center;
}

.distribution-cell,
.frequency-cell,
.value-cell {
  cursor: pointer;
}

.frequency-cell:hover,
.value-cell:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}

.frequency-cell {
  text-align: right;
}

.total-column {
  background-color: #fff8f0;
  .slick-row:hover & {
    background-color: #f6ede2;
  }
}

.parameter-column {
  background-color: #f1f7ff;
  .slick-row:hover & {
    background-color: #e6ebff;
  }
}

@media (prefers-color-scheme: dark) {
  .total-column {
    background-color: #4d2c0f;
    .slick-row:hover & {
      background-color: #5e3b1a;
    }
  }

  .parameter-column {
    background-color: #1e3a5f;
    .slick-row:hover & {
      background-color: #274e7a;
    }
  }
}
