// Custom styling of SlickGrid markup
.slick-header {
  font-weight: 500;
}

.slick-header-sortable {
  cursor: pointer;
}

.slick-viewport {
  font-family: var(--font-family-data);
}

.slick-pane {
  .slick-cell,
  .slick-header.ui-state-default,
  .slick-header-column.ui-state-default {
    border-color: transparent;
  }
  .slick-cell {
    border-top-color: var(--bs-border-color);
  }
}

.slick-row:hover {
  --row-color: var(--bs-tertiary-bg);
}

.total-column {
  --column-color: var(--bs-yellow);
}

.parameter-column {
  --column-color: var(--bs-info);
}

.slick-cell {
  background-color: color-mix(
    in oklab,
    var(--column-color, var(--bs-body-bg)),
    var(--row-color, var(--bs-body-bg)) 90%
  );
}
