// Link-like text
.link {
  &:hover {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }
}

// Max-width by breakpoint: fluid until breakpoint, then fixed max-width
@each $name, $width in $grid-breakpoints {
  .w-max-#{$name} {
    max-width: 100%;
  }

  @include media-breakpoint-up($name, $grid-breakpoints) {
    .w-max-#{$name} {
      max-width: $width;
    }
  }
}
