// Detect dark/light mode automatically
$color-mode-type: media-query;

// Bootstrap's default values are set with `!default`, so we can replace them by assigning custom values before importing them.
// This however means we cannot use other variables, like `$body-color`, because they are not defined yet.

$font-family-base: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;

// Override minimum contrast level for Bootstrap's automatic text color calculation against a given background color.
// Bootstrap's algorithm seems to fall short for some colors, including our primary and secondary.
// The default min contrast level is 4.5, but relaxing it actually seems to give better results.
$min-contrast-ratio: 3;

// Replace some default colors
$pink: #bb3693;
$red: #d42225;
$orange: #f0581a;
$yellow: #e2b812;
$green: #61ad19;
$cyan: #1e989f;
$light: #e4e4e7; // Should match logo color

$primary: $orange;
$secondary: $cyan;

$link-color: #212529; // = $gray-900 = $body-color, default: $primary
$link-hover-color: $orange;
